<div class="mx-5 my-2">
    <h1>Home</h1>
    <div class="container mt-2">
        <h1 class="alert alert-success d-flex justify-content-between">
            Bienvenido {{userName}}
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
                Desloguear
            </button>
        </h1>
    </div>
    <p id="userEmail"></p>
    {{> productsForm}}
    <div class="my-4" id="productsContainer"></div>
    <h2 class="text-primary">Centro de mensajes</h2>
    <input class="form-control my-2" type="text" id="chatMsg" placeholder="Ingresa un mensaje"/>
    <button class="btn btn-primary mb-2" id="sendMsg">Enviar</button>
    <div id="chatContainer" class="my-2"></div>
</div>
{{> importScripts}}
<script src="index.js"></script>